extends layout
block content
 h1 #{siteName}
 h2 Departure City: #{departureCity}
 h4 Retrieved #{date}
 h2 Destinations:
 div.destinations
   span.col
      h3 Near By:
      ul
      each val in flights
       li #{val.destination} : #{val.price}
   span.col
      h3 Europe:
      ul
      each val in europe
       li #{val.destination} : #{val.price}